@charset "UTF-8";

.container {
    display: flex;
    flex-wrap: wrap;
}

.reference {
    border: 1px solid lightgray;
    margin: 0.5em;
}

.infomation {
    color: blue;
}

.description {
    font-style: italic;
    color: brown;
}

.pointereventinfo {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    max-height: 300px;
    overflow-y: scroll;
    border: solid 1px blanchedalmond;
}

.pointereventinfo:nth-of-type(odd) {
    background-color: lightcyan;
}

.pointereventinfo:nth-of-type(even) {
    background-color: cornsilk;
}
