@charset "UTF-8";

/* このスタイル指定が無いとtemplate内の要素に対する背景色の指定などが効かない。 */
/* 正確にはdisplay: block;が指定されていることが大事である。 */
:host {
    display: block;
    contain: content;
}

/* custome elementへのスタイルの適用具合はブラウザによって差が見られる。 */
:host([background]) {
    background-color: var(--my-custom-bg, snow);
}

dt {
    color: blue;
    font-style: italic;
    font-size: 1.15rem;
    font-weight: bold;
}

/* 
template内で読み込まれるCSSではcustome element名を使ったスタイル指定を行っても
無効である。
*/
dl:first-of-type {
    background-color: beige;
}

/* 
こちらのスタイルは適用されない。custom elementが複数記述されていても
1つのcustom element内に現れるdl要素は1つだけだからである。
*/
dl:nth-of-type(2) {
    background-color: darkseagreen;
}

.base {
    width: fit-content;
}

.menulist {
    list-style: upper-roman;
}

.menulist li {
    font-weight: bold;
}

.shopname {
    font-size: 1.2rem;
    text-decoration: yellow underline;
}

#memoview {
    color: red;
    font-size: 1.5rem;
}

