@charset "UTF-8";

/*
@supports (background: paint(id))) {
}
*/

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 300px;
}

.container .content {
    margin: auto;
    background-color: lightgray;
}

.sample-target {
    /**
     * CSS Paint APIに対応していないブラウザのために同じ名前のプロパティに対して
     * 別のスタイルを指定する手もある。しかし例えばbackground-imageを指定すると
     * CSS Paint APIに対応しているブラウザであっても先に画像がダウンロードされてしまう。
     */
    /*background-image: url(../../images/circle.png);*/
    animation-name: bganimation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* paintがtransitionの周期に合わせて何度も呼び出されたりはしない。 */
    /*background-image: paint(simplebg);*/
    /*transition-property: background-image;*/
    /*transition-duration: 1s;*/
}

@keyframes bganimation {
    0% {
        --base-size: 8; 
        background-image: paint(simplebg);
    }
    25% {
        --base-size: 16; 
        background-image: paint(simplebg);
    }
    50% {
        --base-size: 32; 
        background-image: paint(simplebg);
    }
    75% {
        --base-size: 64; 
        background-image: paint(simplebg);
    }
    100% {
        --base-size: 128; 
        background-image: paint(simplebg);
    }
}
