@charset "UTF-8";

aside {
    border-top: 1px solid lightgray;
}

canvas {
    border: solid 1px black;
}

main > section {
    border-top: 1px solid lightgray;
}

.video-container {
    display: flex;
    justify-content: center;
}

.video-part {
    flex: 1;
    background-color: lightyellow;
}

.infomation {
    margin: 0.5em;
    background-color: linen;
    height: 50vh;
    overflow-y: scroll;
}

.media-event-container {
    display: flex;
    height: 300px;
}

.media-event-container .output {
    width: 50vw;
    background-color: seashell;
    overflow-y: scroll;
}

.custom-canvas {
    background-image: url("../../images/starbg.png");
    background-repeat: no-repeat;    
    background-size: 100% 100%;
}
